<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>User Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            body{
                background: linear-gradient( #7f7fd5, #86a8e7, #91eae4);
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            function getById(id) {
                document.getElementById("getNameById").value = id;
            }
            function logoutPage() {
                alert("Do you sure?");
            }

            function informUser() {
                alert("Thank you for applying! Your information will be sent our database");
            }
        </script>
    </head>
    <body>
        
        
        
        
    </body>
</html>
