<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Travel Company</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Murad Isgandarli">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            body{
                background: linear-gradient( #7f7fd5, #86a8e7, #91eae4);
            }
        </style>
        <script>
            $(document).ready(function () {

            /* for changing pisa tower photos by mouse hovering*/
                $("#img1").hover(function () {

                    $("#img1").attr("src", "/pisa.jpg");

                }, function () {
                    $("#img1").attr("src", "/pisa2.jpg");
                });

            /* for changing pyramid photos by mouse hovering*/
                $("#img2").hover(function () {

                    $("#img2").attr("src", "/egypt2.jpeg");

                }, function () {
                    $("#img2").attr("src", "/egypt.jpeg");
                });

            /* for changing eiffel tower photos by mouse hovering*/    
                $("#img3").hover(function () {

                    $("#img3").attr("src", "/eiffel2.jpeg");

                }, function () {
                    $("#img3").attr("src", "/eiffel.jpeg");
                });


            });
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/index}">
                    <img src="/mainlogo.jpeg"alt="" style="width: 200px;height: 80px;border-radius: 50%">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/index}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/userpage}">User Page
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/adminpage}">Admin Page
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="card-deck">
            <div class="card">
                <img  id="img1" class="card-img-top" src="/pisa2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pisa Tower</h5>
                    <p class="card-text">
                        Welcome,We have travel packet to Italy,
                        you have great chance to see Pisa Tower 
                        only paying 100 euro.We think that it will
                        be very interesting for you.If you think
                        like us, be quick
                    </p>

                    <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Leaning_Tower_of_Pisa" target="blank" role="button">About Pisa</a>
                </div>
            </div>
            <div class="card">
                <img id="img2" class="card-img-top" src="/egypt.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Egypt Pyramids</h5>
                    <p class="card-text">
                        Welcome,We have travel packet to Egypt,
                        you have great chance to see Egypt Pyramids 
                        only paying 100 euro.We think that it will
                        be very interesting for you.If you think
                        like us, be quick
                    </p>

                    <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Egyptian_pyramids" target="blank" role="button">About Pyramids</a>
                </div>
            </div>
            <div class="card">
                <img id="img3" class="card-img-top" src="/eiffel.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Eiffel Tower</h5>
                    <p class="card-text">
                        Welcome,We have travel packet to France,
                        you have great chance to see Eiffel Tower 
                        only paying 100 euro.We think that it will
                        be very interesting for you.If you think
                        like us, be quick
                    </p>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Eiffel_Tower" target="blank" role="button">About Eiffel</a>
                </div>
            </div>

        </div>

        <div class="container-fluid p-3 p-md-5">
            <ul class="bd-footer-links" >
                <p>Copyright © 2019.&nbsp;All rights are reserved!</p>
                <p>Developed by &nbsp;<a href="https://github.com/muradisgandar" target="blank">Murad Isgandarli</a></p>
            </ul>

        </div>


    </body>
</html>
